.d-flex {
  display: flex;
}

.width-25 {
  max-width: 25%;
  margin: 0 !important;
}

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.mb-1 {
  margin-bottom: $size-2 !important;
}

.mt-5 {
  margin-top: $size-1 * 1.75;
}

.mb-5 {
  margin-bottom: $size-1 * 1.75;
}

.mt-4 {
  margin-top: $size-1;
}

.mt-2 {
  margin-top: $size-3;
}

.mb-2 {
  margin-bottom: $size-3;
}

.mt-3 {
  margin-top: $size-4;
}

.mb-3 {
  margin-bottom: $size-4;
}

.mb-footer {
  margin-bottom: 5rem;
}

.is-x-large {
  font-size: $size-2 !important;
  max-width: 70%;
}

.course-type {
  color: $white !important;
  font-size: $size-4;

  span {
    display: inline-block;
    width: 0.2rem;
    height: $size-3;
    background-color: $bg-color-sec;
  }
}

.at-tooltip__content {
  max-width: unset;
}

.tags {
  padding-top: $size-7;
  display: flex;
  justify-content: center;
}

.VueCarousel-navigation {
  &-button {
    padding: 0 !important;
    height: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: $bg-color-sec !important;
    color: $bg-primary !important;
    margin: -$size-7 !important;
    width: 2rem !important;
    margin-top: -2.5rem;

    i:before {
      color: $bg-primary;
    }
  }

  @extend .is-hidden-touch;
}

.VueCarousel-pagination {
  margin-top: -1rem;
  float: unset !important;
}

.animation-delay-1 {
  animation-delay: 1s;
}

.is-welcome {
  background-color: $white;
  padding: $size-4 0 $size-4 0;

  h1 {
    color: $bg-primary;
    font-size: $size-3;
    font-weight: 700;
  }
}

.img-float-right {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.is-cursor {
  cursor: pointer;
}

@media (max-width: $tablet) {
  .is-x-large {
    font-size: $size-4 !important;
  }
  .is-welcome {
    padding: $size-4 0;
    h1 {
      font-size: $size-5;
    }
  }

  .container {
    padding-right: $gap / 2;
    padding-left: $gap / 2;
    width: 100%;
  }
}
